.fixed {
  position: fixed;
  z-index: 10;
  bottom: 4%;
  left: 7px;
  @include respond-to-min(550px) {
    left: 45px;
  }
  &__icon {
    width: 55px;
    @include respond-to-min(550px) {
      width: 60px;
    }
  }
}