// Colors

$color-azul: #2A7DE1;
$color-morado: #691F74;
$color-rosa: #ED1E79;
$color-gris: #455A64;
$color-font: #434343;
$color-black: #000;
$color-body: #f4f4f4;
$color-box: #EFEFEF;
$color-border-accor: #969393;

// Typography

$font-r: 'Montserrat-reg', sans-serif;
$font-b: 'Montserrat-bold', sans-serif;
$font-l: 'Montserrat-light', sans-serif;
$font-ul: 'Montserrat-ultra-light', sans-serif;

$basefontsize: 16px;
